---
import MainLayout from '../layouts/MainLayout.astro';
import HighlightOnHash from '../components/Highlight';
import CardsGrid from '../components/CardsGrid.astro';
import content from '../data/content.json';
---

<MainLayout
  title={content.pages.activities.docTitle}
  withSeo={true}
  commonPreloads={true}
>
  <div id="page-activites-container" class="content-container activities-page">
    <h1>{content.pages.activities.title}</h1>
    <div class="p-wrapper">
      {content.pages.activities.mainText.map((paragraph) => <p>{paragraph}</p>)}
    </div>
    <div class="activities-container">
      <CardsGrid />
    </div>
  </div>
</MainLayout>
<HighlightOnHash client:load />
