---
import MainLayout from '../layouts/MainLayout.astro';
import { sortBlocsByOrder } from '../admin/frontUtils';
import content from '../data/content.json';
const blocs = content.pages.mentions.blocs.items ?? [];
const sortedBlocs = sortBlocsByOrder(blocs);
---

<MainLayout title={content.pages.mentions.docTitle} withSeo={false}>
  <div class="mention-wrapper content-container">
    <div class="full-wrapper full-height">
      <div class="mention-container full-content">
        <h2>{content.pages.mentions.title}</h2>
        {
          sortedBlocs.map(({ title, content }) => (
            <section class="full-text-section-wrapper">
              <h3>{title}</h3>
              <div class="p-wrapper">
                {content.split('\n').map((line) => (
                  <p>{line}</p>
                ))}
              </div>
            </section>
          ))
        }
      </div>
    </div>
  </div>
</MainLayout>
