---
// Props attendues
interface Props {
  bgImage: string; // URL de l'image de fond
  icon: string; // URL du picto
  title: string; // Titre de la carte
  slug: string; // Slug pour le lien
}

// Déstructuration des props
const { bgImage, icon, title, slug } = Astro.props;
import '../styles/activity_card.scss'
---

<a href={`/${slug}`} class="activity-card">
  <img
    src={bgImage}
    alt=""
    loading="lazy"
    decoding="async"
    class="activity-card__bg"
  />
  <div class="activity-card__content">
    <div
      class="activity-card__icon"
      style={`mask: url('${icon}') no-repeat center / contain; -webkit-mask: url('${icon}') no-repeat center / contain;`}
    ></div>
    <h3 class="activity-card__title">{title}</h3>
  </div>
  <span class="activity-card__btn"></span>
</a>
