---
// Props attendues
interface Props {
  bgImage: string; // URL de l'image de fond
  icon: string; // URL du picto
  title: string; // Titre de la carte
  slug: string; // Slug pour le lien
}

// Déstructuration des props
const { bgImage, icon, title, slug } = Astro.props;
import '../styles/activity_card.scss';

const iconsNeedingAdjust = [
  '/img/icons/picto-carte.svg',
  '/img/icons/picto-bivouac.svg',
  '/img/icons/picto-filet.svg',
];
const iconNeedAdjust = iconsNeedingAdjust.includes(icon);
---

<a href={`/${slug}`} class="activity-card">
  <img
    src={bgImage}
    alt=""
    loading="lazy"
    decoding="async"
    class="activity-card-bg"
  />
  <div class="activity-card-content">
    <div
      class={`activity-card-icon ${iconNeedAdjust ? 'adjust-bot' : ''}`}
      style={`mask: url('${icon}') no-repeat center / contain; -webkit-mask: url('${icon}') no-repeat center / contain;`}
    >
    </div>
    <h3 class="activity-card-title">{title}</h3>
  </div>
  <span class="activity-card-btn"></span>
</a>
