---
import "../styles/footer.scss"
const currentYear = new Date().getFullYear();
import content from '../data/content.json';
const footerMenu = content.footerMenu;
import { formatFrenchPhone } from '../utils/utils';
const { href, display } = formatFrenchPhone(content.contact.tel);
---

<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <a href="/" title="Accueil">
        <img src="/img/static/header_logo.webp" alt="Logo" />
      </a>
      <div class="footer-contact">
        <address>
          <p><strong>{content.contact.mainLabel}</strong></p>
          <p>{content.contact.street}</p>
          <p>
            {content.contact.postalCode}
            {content.contact.city}
            {
              content.contact.country.length > 0
                ? ', ' + content.contact.country
                : ''
            }
          </p>
          <p>
            <a href={`tel:${href}`}>{display}</a>
          </p>
          <p>
            <a href={`mailto:${content.contact.email}`}>
              {content.contact.email}
            </a>
          </p>
        </address>
      </div>
    </div>
    <div class="footer-right">
      <div class="footer-social">
        <a
          href={content.contact.socials.facebook}
          target="_blank"
          rel="noopener"
          aria-label="Facebook"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M12 2.04c-5.5 0-10 4.49-10 10.02 0 5 3.66 9.15 8.44 9.9v-7H7.9v-2.9h2.54V9.85c0-2.51 1.49-3.89 3.78-3.89 1.09 0 2.23.19 2.23.19v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.88h2.78l-.45 2.9h-2.33v7a10 10 0 0 0 8.44-9.9c0-5.53-4.5-10.02-10-10.02Z"
            ></path>
          </svg>
        </a>
        <a
          href={content.contact.socials.insta}
          target="_blank"
          rel="noopener"
          aria-label="Instagram"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path
              d="M12 2c2.717 0 3.056.01 4.122.06 1.065.05 1.79.217 2.428.465.66.254 1.216.598 1.772 1.153.509.5.902 1.105 1.153 1.772.247.637.415 1.363.465 2.428.047 1.066.06 1.405.06 4.122 0 2.717-.01 3.056-.06 4.122-.05 1.065-.218 1.79-.465 2.428a4.883 4.883 0 0 1-1.153 1.772c-.5.508-1.105.902-1.772 1.153-.637.247-1.363.415-2.428.465-1.066.047-1.405.06-4.122.06-2.717 0-3.056-.01-4.122-.06-1.065-.05-1.79-.218-2.428-.465a4.89 4.89 0 0 1-1.772-1.153 4.904 4.904 0 0 1-1.153-1.772c-.247-.637-.415-1.363-.465-2.428C2.013 15.056 2 14.717 2 12c0-2.717.01-3.056.06-4.122.05-1.066.217-1.79.465-2.428a4.88 4.88 0 0 1 1.153-1.772A4.897 4.897 0 0 1 5.45 2.525c.638-.248 1.362-.415 2.428-.465C8.944 2.013 9.283 2 12 2zm0 1.802c-2.67 0-2.986.01-4.04.059-.976.045-1.505.207-1.858.344-.466.181-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.048 1.055-.058 1.37-.058 4.04 0 2.67.01 2.986.058 4.04.045.976.207 1.505.344 1.858.181.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.04.058 2.67 0 2.987-.01 4.04-.058.976-.045 1.505-.207 1.858-.344.466-.181.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.04 0-2.67-.01-2.986-.058-4.04-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 0 0-.748-1.15 3.098 3.098 0 0 0-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.055-.048-1.37-.058-4.04-.058zm0 3.063a5.135 5.135 0 1 1 0 10.27 5.135 5.135 0 0 1 0-10.27zm0 8.468a3.333 3.333 0 1 0 0-6.666 3.333 3.333 0 0 0 0 6.666zm6.538-8.671a1.2 1.2 0 1 1-2.4 0 1.2 1.2 0 0 1 2.4 0z"
            ></path>
          </svg>
        </a>
        <a
          href={content.contact.socials.google}
          target="_blank"
          rel="noopener"
          aria-label="Google"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            x="0px"
            y="0px"
            width="100"
            height="100"
            viewBox="0 0 50 50"
          >
            <path
              d="M 25.996094 48 C 13.3125 48 2.992188 37.683594 2.992188 25 C 2.992188 12.316406 13.3125 2 25.996094 2 C 31.742188 2 37.242188 4.128906 41.488281 7.996094 L 42.261719 8.703125 L 34.675781 16.289063 L 33.972656 15.6875 C 31.746094 13.78125 28.914063 12.730469 25.996094 12.730469 C 19.230469 12.730469 13.722656 18.234375 13.722656 25 C 13.722656 31.765625 19.230469 37.269531 25.996094 37.269531 C 30.875 37.269531 34.730469 34.777344 36.546875 30.53125 L 24.996094 30.53125 L 24.996094 20.175781 L 47.546875 20.207031 L 47.714844 21 C 48.890625 26.582031 47.949219 34.792969 43.183594 40.667969 C 39.238281 45.53125 33.457031 48 25.996094 48 Z"
            ></path>
          </svg>
        </a>
        <a href="" data-action="openContactPopup" aria-label="Email">
          <svg
            width="800px"
            height="800px"
            viewBox="0 -4 32 32"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g id="Icon-Set" transform="translate(-412.000000, -259.000000)">
                <path
                  d="M442,279 C442,279.203 441.961,279.395 441.905,279.578 L433,270 L442,263 L442,279 L442,279 Z M415.556,280.946 L424.58,271.33 L428,273.915 L431.272,271.314 L440.444,280.946 C440.301,280.979 415.699,280.979 415.556,280.946 L415.556,280.946 Z M414,279 L414,263 L423,270 L414.095,279.578 C414.039,279.395 414,279.203 414,279 L414,279 Z M441,261 L428,271 L415,261 L441,261 L441,261 Z M440,259 L416,259 C413.791,259 412,260.791 412,263 L412,279 C412,281.209 413.791,283 416,283 L440,283 C442.209,283 444,281.209 444,279 L444,263 C444,260.791 442.209,259 440,259 L440,259 Z"
                  id="mail"
                >
                </path>
              </g>
            </g>
          </svg>
        </a>
      </div>
      <nav class="footer-nav">
        <ul>
          {
            footerMenu.map((item) => (
              <li>
                {item.type === 'action' ? (
                  <a href="" data-action={item.slug}>
                    {item.title}
                  </a>
                ) : item.type === 'external' ? (
                  <a href={item.slug} target="_blank" rel="noopener">
                    {item.title}
                  </a>
                ) : (
                  <a href={`/${item.slug}`}>{item.title}</a>
                )}
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
  <div class="subfooter">
    <p>
      © {currentYear}
      {content.contact.mainLabel} - Site créé par <a
        href="https://benkielinski.fr/"
        target="_blank"
        rel="noopener">Benjamin Kielinski</a
      >
    </p>
  </div>
</footer>
