---
import '../styles/footer.scss';
const currentYear = new Date().getFullYear();
import content from '../data/content.json';
const footerMenu = content.footerMenu;
import { formatFrenchPhone } from '../utils/utils';
const { href, display } = formatFrenchPhone(content.contact.tel);
---

<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <div class="logo-container">
        <a href="https://www.route-62.fr/" title="Route62">
          <img src="/img/static/route62.webp" alt="Logo" />
        </a>
        <a href="/" title="Accueil">
          <img src="/img/static/header_logo.webp" alt="Logo" />
        </a>
      </div>
      <div class="footer-contact">
        <address>
          <p><strong>{content.contact.mainLabel}</strong></p>
          <p>{content.contact.street}</p>
          <p>
            {content.contact.postalCode}
            {content.contact.city}
            {
              content.contact.country.length > 0
                ? ', ' + content.contact.country
                : ''
            }
          </p>
          <p>
            <a href={`tel:${href}`}>{display}</a>
          </p>
          <p>
            <a href={`mailto:${content.contact.email}`}>
              {content.contact.email}
            </a>
          </p>
        </address>
      </div>
    </div>
    <div class="footer-right">
      <div class="footer-social socials-wrapper">
        <div class="social-links">
          <a
            href={content.contact.socials.facebook}
            target="_blank"
            rel="noopener"
            aria-label="Facebook"
          >
            <svg>
              <use href="#social-facebook"></use>
            </svg>
          </a>
          <a
            href={content.contact.socials.insta}
            target="_blank"
            rel="noopener"
            aria-label="Instagram"
          >
            <svg>
              <use href="#social-instagram"></use>
            </svg>
          </a>
          <a href="/contact" data-action="openContactPopup" aria-label="Email">
            <svg>
              <use href="#social-email"></use>
            </svg>
          </a>
        </div>
      </div>
      <nav class="footer-nav">
        <ul>
          {
            footerMenu.map((item) => (
              <li>
                {item.type === 'action' ? (
                  <a href="" data-action={item.slug}>
                    {item.title}
                  </a>
                ) : item.type === 'external' ? (
                  <a href={item.slug} target="_blank" rel="noopener">
                    {item.title}
                  </a>
                ) : (
                  <a href={`/${item.slug}`}>{item.title}</a>
                )}
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
  <div class="subfooter">
    <p>
      © {currentYear}
      {content.contact.mainLabel} - Ce site a été conçu par <a
        href="https://benkielinski.fr/"
        target="_blank"
        rel="noopener">Benjamin Kielinski</a
      >
    </p>
  </div>
</footer>
