---
import content from '../data/content.json';
import { GOOGLE_MAP_URL, VIDEO_CONFIG } from '../config';
import HighlightOnHash from './Highlight';
import CardsGrid from './CardsGrid.astro';
import RailSVG from './RailSVG.astro';
import VideoHero from '../video/VideoHero.astro';
import { Image } from 'astro:assets';
import RailVideoSVG from './RailVideoSVG.astro';
---

<div id="home-container" class="content-container">
  <!-- SECTION VIDEO (fond) -->
  <section class="video-wrapper">
    <div class="video-section">
      <VideoHero />
    </div>
  </section>

  <!-- SECTION 1 : ACTIVITIES -->
  <section class="section1">
    <div class="rando-sublabel">
      <p>Rando-rail du Pays de Lumbres</p>
    </div>
    <div class="rail-wrapper home-rail-wrapper">
      <RailSVG />
    </div>
    <div class="title-container">
      <h1 class="main-title main-content">Safari Rail Aventure</h1>
      <h3 class="main-title">Nielles-lès-Bléquin</h3>
    </div>
    <div class="activities-container">
      <CardsGrid />
    </div>
  </section>
  <!-- SECTION 2 : INFOS PRATIQUES -->
  <section class="section2">
    <div class="section-wrapper">
      <div class="header-wrapper">
        <h3>Votre visite, sans prise de tête</h3>
        <hr class="main-hr" />
      </div>

      <div class="content-wrapper">
        <!-- Les 3 cards en ligne -->
        <div class="cards-row" data-animate-group="cards-section-2">
          <!-- Card 3 : Itinéraire -->
          <a
            target="_blank"
            href={GOOGLE_MAP_URL}
            class="info-card info-card-clickable address-info-card"
            data-animate="right"
            data-animate-group="cards-section-2"
          >
            <div class="card-link unic-link">
              <svg class="info-icon">
                <use href=`#picto-pin`></use>
              </svg>
              <span class="card-action">Itinéraire</span>
            </div>
            <div class="address-card">
              <address>
                <p class="main-label">{content.contact.mainLabel}</p>
                <p>{content.contact.street}</p>
                <p>{content.contact.postalCode} {content.contact.city}</p>
              </address>
            </div>
          </a>
          <!-- Card 1 : Infos spécifiques -->
          <div
            class="info-card"
            data-animate="up"
            data-animate-mobile="left"
            data-animate-tablet="up"
            data-animate-group="cards-section-2"
          >
            <p class="card-title">Besoin d'infos ?</p>
            <div class="infos-wrapper">
              <a href="/activities" class="card-link">
                <svg class="info-icon resto-icon">
                  <use href=`#picto-info`></use>
                </svg>
                <span>Horaires & Tarifs</span>
              </a>
              <a href="/restauration" class="card-link">
                <svg class="info-icon resto-icon">
                  <use href=`#picto-food`></use>
                </svg>
                <span>Restauration</span>
              </a>
            </div>
          </div>

          <!-- Card 2 : Groupes -->
          <a
            href="/groupes"
            class="info-card info-card-clickable"
            data-animate="left"
            data-animate-mobile="right"
            data-animate-tablet="left"
            data-animate-group="cards-section-2"
          >
            <svg class="info-icon">
              <use href=`#picto-groupe`></use>
            </svg>
            <p class="card-title">Venir en groupe</p>
            <span class="card-link unic-link">Comment ça marche ?</span>
          </a>
        </div>

        <!-- CTA final -->
        <div class="contact-wrapper">
          <div class="p-wrapper">
            <p class="contact-text">
              Vous ne trouvez pas l'information que vous cherchez ?
            </p>
          </div>
          <a href="/contact" class="info-btn">Contactez-nous</a>
        </div>
      </div>
    </div>
  </section>
  <section class="section4">
    <Image
      src="/img/activities/filets-main.webp"
      alt="Parc de filets Safari Rail Aventure"
      width={1920}
      height={640}
      loading="lazy"
      class="bg-image"
    />
    <div class="overlay"></div>
    <div class="content">
      <h2>Bientôt : Le Parc de Filets !</h2>
      <a href="/activites/filets" class="cta-button"> En savoir plus </a>
    </div>
  </section>
  <!-- SECTION 3 VIDEO OVERLAY -->
  <section
    class="video-section-overlay"
    data-animate-group="video-section"
    data-threshold="0.3"
  >
    <div
      class="rail-wrapper video-rail-wrapper"
      data-animate="rail"
      data-animate-group="video-section"
    >
      <RailVideoSVG />
    </div>
    <a
      class="video-icon-link"
      target="_blank"
      href=`${VIDEO_CONFIG.fallbackUrl}`
    >
      <svg class="video-icon">
        <use href=`#picto-video`></use>
      </svg>
      <!-- Tooltip -->
      <span
        class="video-tooltip"
        data-animate="pulse"
        data-animate-group="video-section"
      >
        Voir en plein écran
      </span>
    </a>
  </section>
  <section class="section3">
    <div
      class="counter-wrapper"
      data-animate-group="section3-counter"
      data-animate-stagger="100"
    >
      <div class="counter-info">
        <span
          class="counter-number"
          data-counter="20"
          data-animate
          data-animate-group="section3-counter">0</span
        >
        <span class="counter-label">Ans d'existence</span>
      </div>
      <div class="counter-info">
        <span
          class="counter-number"
          data-counter="857000"
          data-animate
          data-animate-group="section3-counter">0</span
        >
        <span class="counter-label">Km de rails parcourus</span>
      </div>
      <div class="counter-info">
        <span
          class="counter-number"
          data-counter="18"
          data-animate
          data-animate-group="section3-counter">0</span
        >
        <span class="counter-label">Tours du monde</span>
      </div>
    </div>
    <br />
  </section>
  <section class="section5">
    <div class="content-wrapper">
      <div class="img-wrapper">
        <Image
          src="/img/groups-img.webp"
          alt={`Photo de célébration en famille au Randorail`}
          width={1000}
          height={800}
          loading="lazy"
        />
      </div>
      <div class="text-wrapper">
        <h3>Anniversaires, EVG/EVJF, fêtes de familles</h3>
        <h2>Venez fêter ça avec nous !</h2>
        <div class="p-wrapper">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
          </p>
          <p>
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <a href="/contact" class="info-btn">On s'organise</a>
      </div>
    </div>
  </section>

  <HighlightOnHash client:load />
</div>
<script>
  import { initScrollAnimations } from '../utils/scroll-animation';
  import { initVideoFunction } from '../video/video-script';

  // Trigger quand 20% de l'élément est visible
  initScrollAnimations(0.2);
  initVideoFunction();

  // Déclencher le rail home
  document.addEventListener(
    'posterReady',
    () => {
      console.log('🚂 Déclenchement animation rail home');
      const homeRail = document.querySelector('.home-rail-wrapper');
      if (homeRail) {
        homeRail.classList.add('is-animating');
      }
    },
    { once: true },
  );
</script>
