---
import content from '../data/content.json';
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../config';
import PreloadsLayout from './PreloadsLayout.astro';
const {
  title = SITE_TITLE,
  withSeo = true,
  commonPreloads = true,
  isHome = false,
} = Astro.props;
import sprite from '../assets/sprite.svg?raw';

const shouldRenderAnnouncement = isHome && content.home.announcement?.enabled;
let AnnouncementModal;
if (shouldRenderAnnouncement) {
  AnnouncementModal = (await import('../announcement/AnnouncementModal.astro'))
    .default;
}
---

<BaseLayout {title} {withSeo}>
  {commonPreloads && <PreloadsLayout slot="head-preloads" {isHome} />}
  {
    shouldRenderAnnouncement && (
      <script src="../announcement/announcementController.ts" />
    )
  }
  <main id="main-container">
    <Header shouldRenderBanner={shouldRenderAnnouncement} {isHome}/>
    {shouldRenderAnnouncement && AnnouncementModal && <AnnouncementModal />}
    <Fragment set:html={sprite} />
    <slot />
    <Footer />
  </main>
</BaseLayout>
